.img_cadastro{
    width: 100%;
}

.cadastro_container{
    height: 1000px;
    width: 100%;
    background: radial-gradient(#653d84, #332042);
    position: relative;
}

.cadastro_box{
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius:10px ;
    box-shadow:1px 4px 22px -8px #0004 ;
    display: flex;
    overflow: hidden;
}

.cadastro_box .left_cadastro{
    width: 41%;
    height: 100%;
    padding: 25px 25px;
}

.cadastro_box .right_cadastro{
    width: 59%;
    height: 100%;
}

.cadastro_box .cadastro_top_link a{
    color: #452a5a;
    font-weight: 400;
}

.cadastro_box .cadastro_top_link a:hover{
    text-decoration: underline;
}

.cadastro_box .cadastro_top_link{
    height: 20px;
}

.left_cadastro .contact_cadastro{
    display: flex;
    justify-content: center;
    align-self:center;
    align-items: center;
    height: 100%;
    width: 73%;
    margin: auto;
}

.left_cadastro h3{
    text-align: center;
    margin-bottom: 40px;
}

.left_cadastro input{
    border: none;
    width: 50%;
    margin: 15px 0;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 10px;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.left_cadastro span{
    display: flex;
}

.left_cadastro a{
    color: #452a5a;
    font-weight: 400;
}

.left_cadastro a:hover{
    text-decoration: underline;
}

.left_cadastro .btn_cadastro{
    border: none;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    background: #585884;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

}